DOCTYPE html>
<html lang="es">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Ferremas - Tu ferretería online</title>
</head>
<body>

<!-- cabeza de pagina  -->
    <header> <span class="logo"><img src="{% static 'img/logisimo.png' %}" alt="" href=></span></header>
    <nav class="navbar">
        <ul class="nav-links">
            <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Inicio</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Productos</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Categorías</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Ofertas</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Contacto</a></li>
        </ul>
        <div class="login-cart">
            <a href="{% url 'inise' %}" class="login-btn">Inicio de sesión</a>
            <a href="{% url 'formularioRegistro' %}" class="login-btn">Registrar</a>
            <a href="{% url 'compras' %}" class="cart-btn"><img src="{% static 'img/carro.png' %}" alt=""></a>
        </div>
    </nav>
<!-- fin cabeza de pagina -->
   
<div class="contenido-i"> 
    <h2>hola bodeguero</h2>


</div>
 <script src="{% static 'js/script.js' %}"></script>
</body>
</html>